{% extends 'base.html' %}

{% block title %}
publisher list
{% endblock %}

{% block article_content %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>出版社名字</th>
                    <th>出版社地址</th>
                    <th>出版社城市</th>
                    <th>出版社州或者省</th>
                    <th>出版社国家</th>
                    <th>出版社网站地址</th>
                </tr>
            </thead>
            <tbody>
                {% for publisher in publishers %}
                <tr>
                    <td>{{ publisher.name }}</td>
                    <td>{{ publisher.address }}</td>
                    <td>{{ publisher.city }}</td>
                    <td>{{ publisher.state_province }}</td>
                    <td>{{ publisher.country }}</td>
                    <td>{{ publisher.website }}</td>
                </tr>
                {% empty %}
                    <p style="font-style: oblique; color: #2aabd2; border: 10px">没有添加出版社或者已经被全部删除</p>
                {% endfor %}

            </tbody>
        </table>
        {{ now|date }}
    </div>
    <br><br>
    <div class="container">
        <div>
            {% for book in book_list %}
                The book title : {{ book.title }}
                The book author: {{ book.publish_date|date }}
            {% endfor %}
        </div>
    </div>
{% endblock %}