{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
{% endblock %}

{% block h1 %}
{% endblock %}

{% block article_content %}

    <div class="container">
        <form method="post" action="{% url 'create_supervisor' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="spv_name">管理者名字</label>
                {% if errors %}
                <ul>
                    {% for obj in errors %}
                    <li style="color: red;">{{ obj }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <input type="text" class="form-control" name="spv_name" placeholder="管理者的名字"/>
            </div>
            <div class="form-group">
                <label for="spv_login">登录名</label>
                <input type="text" class="form-control" name="spv_login" placeholder="管理者的登录名"/>
            </div>
            <div class="form-group">
                <label for="spv_password">登录密码</label>
                <input type="password" class="form-control" name="spv_password" placeholder="密码">
            </div>
            <div class="form-group">
                <label for="spv_password_2">确认登录密码</label>
                <input type="password" class="form-control" name="spv_password_2" placeholder="再次确认输入的密码">
            </div>
            <div class="form-group">
                <label for="spv_phone">电话号码</label>
                <input type="tel" class="form-control" name="spv_phone" placeholder="电话号码">
            </div>
            <div class="form-group">
                <label for="spv_born_date">个人出生日期</label>
                <input type="date" class="form-control" name="spv_born_date" placeholder="出生日期">
            </div>
            <div class="form-group">
                <label for="spv_email">电子邮件</label>
                <input type="email" class="form-control" name="spv_email" placeholder="电邮地址">
            </div>
            <div class="form-group">
                <label for="spv_years_seniority">个人资历年限</label>
                <input type="number" class="form-control" name="spv_years_seniority" placeholder="工作几年">
            </div>
            <div class="form-group">
                <label for="spv_special">特别指派的人员</label>
                <input type="text" class="form-control" name="spv_special" placeholder="特派员">
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">提交内容</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}