{% extends 'base.html' %}

{% block title %}
    create for the task
{% endblock %}

{% block article_content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <form method="post" action="{% url 'create_task' %}">
            {% csrf_token %}
            <div class="form-group-sm">
                <label>任务描述</label>
                <input type="text" class="form-control" name="title" placeholder="任务名称"/>
            </div>
            <br>

            <div class="form-group-sm">
                <label>任务描述</label>
                <textarea class="form-control" name="description" placeholder="任务概述" style="width: auto"></textarea>
            </div>
            <br>
            <div class="form-group">
                <label for="name">选择列表</label>
                <input type="text" name="developer" class="form-control"/>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-group">提交内容</button>
            </div>
        </form>
    </div>
{% endblock %}