<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <a href="{% url 'create:create_developer' %}" class="list-group-item">Create
            Developer</a>
        <a href="{% url 'create:create_project' %}" class="list-group-item">Create
            Project</a>
        <a href="{% url 'list:project_list' %}" class="list-group-item">项目列表</a>
        <a href="{% url 'create:create_supervisor' %}"
           class="list-group-item">创建一个管理者</a>
        <a href="{% url 'list:create_task' %}" class="list-group-item">创建一个任务</a>
        <a href="{% url 'list:list_task' %}" class="list-group-item">任务表格</a>
    </div>
</div>