<style>
    hr {
        border-color: #16bb8e;
    }

    footer {
        background-color: #16bb8e;
        color: #f5f5f5
    }
</style>

<hr>
<div class="container">
    <footer>
        <div class="col col-md-3" style=>
            <div>
                <p>&copy; Your Work-Manager Support 2015</p>
                <address>
                    <strong>Twitter, Inc.</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>

                <address>
                    <strong>Full Name</strong><br>
                    <a href="mailto:#">first.last@example.com</a>
                </address>
            </div>
        </div>
        <div class="col col-md-3">
            <div>
                <p>
                    未来发展方向以及工作分配
                </p>
            </div>
        </div>
        <div class="col col-md-3">
            <div>
                <p>
                    未来发展方向以及工作分配
                </p>
            </div>
        </div>
        <div class="col col-md-3">
            <div>
                <p>
                    未来发展方向以及工作分配
                </p>
            </div>
        </div>
    </footer>
</div>
