{% extends 'base.html' %}

{% block title %}
the list of all projects
{% endblock %}

{% block article_content %}
            <div>
                <table class="table table-hover">
                    <caption>悬停表格布局</caption>
                    <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>项目描述</th>
                        <th>项目所属客户</th>
                        <th>请选择</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in projects %}
                        <tr>
                            <td><a href="{% url 'project_detail' pk=1 %}">{{ p.title }}</a></td>
                            <td>{{ p.description }}</td>
                            <td>{{ p.client_name }}</td>
                            <td>
                                <lable><input type="checkbox" class="checkbox" name="pj_name"></lable>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
                <div class="form-group">
                    <div class="col-sm-offset-9 col-sm-10">
                        <button type="submit" class="btn btn-primary">编辑所选</button>
                        <input type="button" id="checkAll" value="全选"/>
                    </div>
                </div>
            </div>

        <div class="paginator">
            <span class="">
                {% if projects.has_previous %}
                    <a href="?page={{ projects.previous_page_number }}">Pre</a>
                {% else %}
                    <span class=""></span>
                {% endif %}
                <span class="pagination">
                    Page {{ projects.number }} of {{ projects.pagiator.num_pages }}
                </span>
                {% if projects.has_next %}
                    <a href="?page={{ projects.next_page_number }}">next</a>
                {% else %}
                    <span class=""></span>
                {% endif %}
            </span>
        </div>
        <script>
        $('#checkAll').click(checkAll); // 全选
        $('#checkFootball').click(checkFootball); // 单选足球
        function checkAll() {
            $('input [type="checkbox"][name="pj_name"]').attr("checked", true);
            $('[name="pj_name"]:checkbox').attr("checked", true);
        }

        function checkFootball(){
            $("[name='item']:checkbox").each(function(){
               if(this.value == 'football')
               {this.checked = true;}
            });
        }
        </script>
{% endblock %}