{% extends 'base.html' %}

{% block title %}
    task list
{% endblock %}

{% block article_content %}
    <div class="container" id="div_containing_form">
        <form role="form" method="get">
            <div class="form-group">
                <span id="is-loading"></span>
                <label></label><span id="search_error" style="color: red"></span>
                <input type="text" class="form-control" name="query" id="search_task" placeholder="请输入非负数数字"/>
                <button type="submit" class="btn btn-primary" id="search_btn">提交查询</button>
            </div>
        </form>
    </div>
    <br><br>
    <br>
    <div class="btn-toolbar" role="toolbar">
        <div class="container" style="font-family: Ubuntu; color: lightslategray; font-size: 20px;">
            <p>对所选择的内容进行操作</p>
        </div>
        <div class="btn-group" style="margin-left: 109px;">
            <button type="button" id="select_all" class="btn btn-success">全选</button>
            <button type="button" id="delete_sth" class="btn btn-primary">反选</button>
            <button class="btn btn-warning" type="button">编辑所选</button>
            <button class="btn btn-danger" type="button">删除所选</button>
            <br>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <script>
                $(".close").on('closed.bs.alert', function(){

                })
            </script>
        </div>
    </div>

    <script>
    </script>

    <script>
        function search(form) {
            $.ajax({
                url: '{% url "list:task_search_ajax" %}',
                type: 'GET',
                contentType: 'application/json', //向服务器请求的类型
                dataType: 'json',
                data: form.serialize(),
                success: function (response) {
                    if (response.errors == '没有查到任何内容，请检查您输入的内容') {
                        $("#search_error").html(response.errors);
                    }
                    $.each(response, function (i, v) {
                        $("#t_body").append("<tr><td>" + v.title + "</td><td>" + v.description +
                        "</td><td>" + v.developer + "</td><td>" +
                        "<input class='checkbox' type='checkbox'>"
                        + "</td></tr>");
                    });
                },
                error: function () {
                    alert('ajax request is breakdown')
                }
            });
        }

        $('form').on('submit', function (event) {
            event.preventDefault();
            var form = $(this);
            search(form);
        });


        $(document).ready(function () {
            $('#search_task').typeahead({
                ajax: {
                    url: "{% url 'list:task_search_ajax' %}",
                    displayField: 'title',
                    method: 'get'
                }
            });
        })
    </script>

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-xxs-12">
            <table class="table table-hover table-striped table-bordered" id="SearchQuery_Table">
                <caption>任务表格</caption>
                <thead id="t_head">
                <tr style="height: 25px;">
                    <th>名称</th>
                    <th>描述</th>
                    <th>所属开发者</th>
                    <th>选择</th>
                </tr>
                </thead>
                <tbody id="t_body">
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-xxs-12">
            <div style="font-size: 14px;">共<label style="color: #20A8D8; font-size: 14px;" id="pageCount">0</label>条记录
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-xxs-12">
            <div id="MainContent_AspNetPager_Msg" class="paginator">
            </div>
            <div class="hidden" id="CurrentPageSize">1</div>
        </div>
    </div>
{% endblock %}